:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --whiteColor: hsl(0, 0%, 100%);
  --grayText: rgb(160, 160, 160);
  --boxShadowColor: rgba(0, 0, 0, 0.05);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 95%);
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 220px; /* Adjust padding to fit larger screens */
  height: 100vh;
  background-image: url('D:/seat-booking-system/src/Assets/signin-bg 2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.auth-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  filter: blur(8px);
}

.auth-wrapper {
  position: relative;
  z-index: 2;
  background-color: transparent;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 25px var(--boxShadowColor);
  max-width: 380px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.auth-title {
  font-size:4.5rem;
  color: var(--PrimaryColor);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.auth-input-group {
  margin-bottom: 10px;
}

.auth-input-group input {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  background-color: hsl(0, 0%, 98%);
  border: 2px solid hsl(199, 50%, 60%);
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.auth-input-group input:focus {
  border-color: hsl(199, 80%, 40%);
  outline: none;
}

.auth-btn {
  padding: 10px;
  width: 100%;
  background-color: var(--PrimaryColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: var(--SecondaryColor);
}

.forgot-password {
  margin-top: 10px;
  font-size: 0.75rem;
  text-align: center;
  color: var(--whiteColor);
  cursor: pointer;
}

.forgot-password:hover {
  color: var(--SecondaryColor);
}

.nav-buttons{
  padding-top: 5%;
}

/* Responsive styles */

@media (min-width: 1024px) {
  .auth-page {
    padding-top: 150px; /* Increased top padding */
  }
  .auth-wrapper {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .auth-page {
    padding-top: 150px;
  }
}

@media (max-width: 480px) {
  .auth-page {
    padding-top: 100px;
  }
}
